# make sure to have a copy of this with 
# file named .env

# Tentative address to access host's DB from within a Docker container
DJ_HOST=host.docker.internal
DJ_USER=YOUR_DB_USERNAME
DJ_PASS=YOUR_DB_PASSWORD

EXTERNAL_MOUNT=./odor_meso/external
STACK_STORAGE=/external/stack_storage
INGESTION_STORAGE=/external/ingestion_storage
MESO_STORAGE=/data/odor_meso/external/meso_storage
DATAPLOT_STORAGE=/data/odor_meso/external/dataplot_storage

# PyQt5
QT_QPA_PLATFORM=offscreen
